.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 30px;
}

.container h2 {
    width: 100%;
    text-align: center;
    color: #FFC400;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 600;
}

@media screen and (max-width: 560px) {
    .container h2{
      font-size: 30px;
    }
  }
  
  @media screen and (max-width: 345px) {
    .container h2{
      font-size: 25px;
    }
  }

.container .card {
    width: 35vh;
    margin: 20px;
    padding: 40px 30px;
    background: #ebf5fe;
    border-radius: 40px;
    box-shadow: -6px -6px 20px rgba(255,255,255,1),
                6px 6px 20px rgba(0,0,0,0.1);
}

@media screen and (max-width: 560px) {
    .container .card{
        width: 25vh;
    }
  }

.container .card:hover {
    box-shadow: inset -6px -6px 10px rgba(255,255,255,0.5),
                inset 6px 6px 20px rgba(0,0,0,0.05);
}

.container .card h3 {
    color: rgb(255, 196, 0);
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 500;
}

@media screen and (max-width: 560px) {
    .container .card h3{
        font-size: 25px;
    }
  }

.container .card p {
    color: rgb(110, 110, 110);
    font-family: 'Roboto', sans-serif;
}

.imgBox img {
    height: 100px;
}