.chat-page {
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
}

/* -------------------------------------------------------- */

.side {
    width: 310px;
    flex-grow: 0;
    overflow-y: auto;
    overflow: hidden;
}

@media screen and (max-width: 590px) {
    .side {
      width: 200px;  
    }
}

@media screen and (max-width: 480px) {
    .side {
        width: 100px;
    }
}

@media screen and (max-width: 375px) {
    .side {
      width: 110px;  
    }
}

.left {
    margin-left: 200px;
    flex-grow: 1;
    height: 100vh;
}

@media screen and (max-width: 590px) {
    .left {
      margin-left: 90px;  
    }
}

@media screen and (max-width: 480px) {
    .left {
      margin-left: 0px;  
    }
}

@media screen and (max-width: 280px) {
    .left {
      margin-left: 0;  
    }
}

/* -------------------------------------------------------- */

.list-group-item+.list-group-item.active {
    margin-top: -1px;
    border-top-width: 1px;
    background: orange;
}

.list-group-item.active,
.list-group-item-action {
    z-index: 2;
    color: #fff;
    background-color: orange;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: orange;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}