.center {
    width: 100%;
    display: flex;
    justify-content: center;
}

.auth-div {
    margin: 40px;
    width: 70%;
    /* height: 530px; */
    padding: 60px 35px 35px 35px;
    border-radius: 40px;
    background: #ebf5fc;
    box-shadow: -6px -6px 20px rgba(255,255,255,1),
                6px 6px 20px rgba(0,0,0,0.1);
}

.logo {
    font-family: 'Orelega One', cursive;
    color: #FFC400;
    font-size: 28px;
    width: 130px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    margin: 0 auto;
    box-shadow: 0 0 2px #5f5f5f,
                0 0 0 5px #ecf0f3,
                8px 8px 15px #a9aaaf,
                -8px -8px 15px #fff;
}

.subtitle {
    text-align: center;
    font-size: 25px;
    font-family: 'Handlee', cursive;
    padding-top: 19px;
    color: rgb(85, 85, 85);
    font-style: italic;
}

@media screen and (max-width: 440px) {
    .subtitle{
      font-size: 17px;
    }
  }

.auth-div .title {
    width: 100%;
    text-align: center;
    color: #FFC400;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: 600;
    padding-top: 20px;
}

.fields {
    width: 100%;
    padding: 40px 5px 5px 2px;
}

.fields input {
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #555;
    width: 100%;
    padding: 20px 10px 20px 5px;
}

@media screen and (max-width: 440px) {
    .fields input{
      font-size: 12px;
      padding: 6px;
      margin: 5px;
    }
  }

.email,
.password {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1,
                inset -8px -8px 8px #fff;
}

.fields .icons {
    font-size: 20px;
    color: #555;
    margin: 0 0px -3px 25px;
}

@media screen and (max-width: 470px) {
    .fields .icons{
      font-size: 9px;
    }
  }

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 60px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    background: #FFC400;
    box-shadow: 3px 3px 8px #b1b1b1,
                -3px -3px 8px #fff;
    transition: all 0.5s;
}

.btns:hover {
    background-color: #ffd54a;
}

.btns:active {
    cursor: not-allowed;
    background-color: #ffde73;
}

.btns a:hover {
    text-decoration: none;
}

.links {
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.links a {
    text-decoration: none;
    color: rgb(95, 95, 95);
    font-size: 17px;
    padding: 5px;
}

.auth-div .form-labels {
    font-size: 18px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; */
    color: #555;
    padding: 20px 10px 5px 15px;
}